<p>This is a code editor demo. You can edit the code below and save it to session storage.</p>
<p>
    The default code is using mock data 3.
</p>



<div class="button-container">
    <button (click)="useMockData1()">Use Mock Data 1</button>
    <button (click)="useMockData2()">Use Mock Data 2</button>
    <button (click)="useMockData3()">Use Mock Data 3</button>
    <button (click)="resetEditor()">Reset Editor</button>
</div>
<br>

<ace id="codeEditor" [config]="config" [mode]="'lua'" [theme]="'tomorrow_night_bright'" [(value)]="value"></ace>
<div class="button-container">
    <button (click)="saveToSessionStorage()" class="save-button">Save</button>
</div>
<div *ngIf="showSaveMessage" class="save-message">Content saved!</div>

<div class="info-container">
    <p>This component uses the following settings:</p>
    <ul>
        <li>autoScrollEditorIntoView: true</li>
        <li>enableBasicAutocompletion: true <a href="assets/editor-informations/enableBasicAutocompletion.png"
                target="_blank">View what this property does</a></li>
        <li>enableSnippets: true <a href="assets/editor-informations/enableSnippets.png" target="_blank">View what this property does</a>
        </li>
        <li>enableLiveAutocompletion: true <a href="assets/editor-informations/enableLiveAutocompletion.png"
                target="_blank">View what this property does</a></li>
        <li>showPrintMargin: false</li>
    </ul>
    <p>These settings are the same as the previous settings in our Lua scripter editor.</p>
</div>
<p>This code sets up an autocomplete feature for an ACE editor instance using custom Lua documentation items. <a href="assets/mock-lua/mockDoc1.ts" target="_blank">Click to see details</a></p>