<p>?This is a code editor directive usage demo. You can edit the code below and save it to session storage.</p>

<div class="button-container">
    <button style="background-color: rgb(226, 67, 67);" routerLink="/code-editor">
        Component Usage Demo
    </button>
</div>
<br>

<div id="codeEditor" class="ace" fxFlex="auto" [ace]="config" (change)="codeChanged($event)"></div>
<br>

<div class="button-container">
    <button (click)="saveToSessionStorage()" class="save-button">Save</button>
</div>
<div *ngIf="showSaveMessage" class="save-message">Content saved!</div>